<div class="body">
	<div class="container">
		<div class="row">
			<%= render 'admins/users/sidebar'%><!-- 管理者用サイドバー -->
			<section class="admin-comments col-xs-10">
				<!-- サクセスメッセージ -->
				<% if flash[:notice].present? %>
	          		<div class="alert alert-success alert_li alert-dismissible">
	              		<button type="button" class="close" data-dismiss="alert" aria-label="閉じる"><span aria-hidden="true">×</span></button>
	              		<%= flash[:notice] %>
	              	</div>
	            <% end %>
	            <!-- サクセスメッセージ -->
	            <!-- アラートメッセージ -->
            	<% if flash[:alert].present? %>
              		<div class="alert alert-danger alert-dismissible alert_li">
              			<button type="button" class="close" data-dismiss="alert" aria-label="閉じる"><span aria-hidden="true">×</span></button>
              			<%= flash[:alert] %>
              		</div>
            	<% end %>
            	<!-- アラートメッセージ -->
				<h2>コメント一覧</h2>
				<p class="col-xs-offset-10"><%= link_to "コメント一覧を表示", admins_comments_check_path, class: "btn btn-info admin-comments__check-btn" %></p>
				<% if @comments.exists? %>
					<table class="table table-bordered">
						<tr>
							<th class="col-xs-2">ユーザー名</th>
							<th class="col-xs-6">コメント</th>
							<th class="col-xs-2">投稿日時</th>
							<th class="col-xs-2">感情スコア</th>
							<th class="col-xs-2"></th>
						</tr>
						<% @comments.each do |comment| %>
						<tr>
							<td><%= comment.user.name %></td>
							<td><%= comment.comment %></td>
							<td><%= comment.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
							<td><%= comment.score %></td>
							<td><%= link_to "削除する", admins_shelf_production_comment_path(shelf_id: comment.production.shelf_id, production_id: comment.production_id, id: comment.id), method: :delete, class: "btn btn-danger btn-sm" %></td>
						</tr>
						<% end %>
					</table>
				<% else %>
					<p>コメントはありません。</p>
				<% end %>
			</section>
		</div>
	</div>
</div>