<div class="body">
	<div class="container">
		<div class="row">
			<%= render '/users/users/sidebar', user: current_user %><!-- サイドバー -->
			<div class="col-xs-8">
				<%= render '/users/users/my_image', user: current_user %><!-- マイページ画像 -->
				<div class="friend col-xs-offset-3">
					<!-- タブメニュー -->
					<ul class="nav nav-tabs nav-justified" id="friend__tab_menu">
						<li><%= link_to "友達一覧",  "javascript:void(0)", data: { target: "friends_list" }, class: "active" %></li>
						<li><%= link_to "申請中",   "javascript:void(0)" , data: { target: "friend_request" }%></li>
						<li><%= link_to "承認待ち",  "javascript:void(0)", data: { target: "friend_wait" }%></li>
						<li><%= link_to "オススメ",  "javascript:void(0)", data: { target: "friend_recommend" } %></li>
					</ul>
					<!-- タブメニュー -->
					<div id="friend_tab_contents">
						<section id="friends_list" class="friend__tab">
							<h4>フレンド一覧</h4>
							<% if @friends.exists? %>
								<% @friends.each do |friend| %>
									<% if friend.friend == current_user %>
										<div class="col-xs-12 friend__link">
											<%= link_to "フレンド", users_user_friend_path(user_id: friend.friend.id, id: friend.id), method: :delete, class: "btn btn-info btn-sm col-xs-offset-10 friend_btn friend__link__btn" %>
											<%= link_to users_user_path(friend.user), class: "friend__link" do %>
												<div class="col-xs-2">
													<%= attachment_image_tag friend.user, :profile_image, fallback: "noimage.png", size:"50x50", class: "img-circle" %>
												</div>
												<div class="col-xs-10">
													<p class="friend__link__text">
														<span class="friend__link__text__name">
															<%= friend.user.name %>
														</span><br>
														<span class="friend__link__text__user_id">
															<%= friend.user.user_id %>
														</span>
													</p>
													<p class="friend__link__box">
														<%= friend.user.introduction %>
													</p>
												</div>
											<% end %>
										</div>
									<% else %>
										<div class="col-xs-12 friend__link">
											<%= link_to "フレンド", users_user_friend_path(user_id: current_user.id, id: friend.id), method: :delete, class: "btn btn-info btn-sm col-xs-offset-10 friend__link__btn friend_btn" %>
											<%= link_to users_user_path(friend.friend) do %>
												<div class="col-xs-2">
													<%= attachment_image_tag friend.friend, :profile_image, fallback: "noimage.png", size:"50x50", class: "img-circle" %>
												</div>
												<div class="col-xs-10">
													<p class="friend__link__text">
														<span class="friend__link__text__name">
															<%= friend.friend.name %>
														</span><br>
														<span class="friend__link__text__user_id">
															<%= friend.friend.user_id %>
														</span>
													</p>
													<p class="friend__link__box">
														<%= friend.friend.introduction %>
													</p>
												</div>
											<% end %>
										</div>
									<% end %>
								<% end %>
							<% else %>
								<p class="friend__empty">まだ友達は登録されていません。</p>
							<% end %>
						</section>
						<section id="friend_request" class="friend__tab">
							<h4>申請中</h4>
							<% if @my_requests.exists? %>
								<% @my_requests.each do |friend| %>
									<div class="friend__link">
										<%= link_to users_user_path(friend.friend) do%>
											<div class="col-xs-2">
												<%= attachment_image_tag friend.friend, :profile_image, fallback: "noimage.png", size:"50x50", class: "img-circle" %>
											</div>
											<div class="col-xs-10">
												<p class="friend__link__text">
													<span class="friend__link__text__name">
														<%= friend.friend.name %>
													</span><br>
													<span class="friend__link__text__user_id">
														<%= friend.friend.user_id %>
													</span>
													<p class="friend__link__box">
														<%= friend.friend.introduction %>
													</p>
												</p>
											</div>
										<% end %>
										<%= link_to "取消", users_user_friend_path(user_id: friend.friend.id, id: friend.id), method: :delete, class: "btn btn-danger btn-xs col-xs-offset-11" %>
									</div>
								<% end %>
							<% else %>
								<p class="friend__empty">申請中のフレンドリクエストはありません。</p>
							<% end %>
						</section>
						<section id="friend_wait" class="friend__tab">
							<h4>承認待ち</h4>
							<% if @other_requests.exists? %>
								<% @other_requests.each do |friend| %>
									<div class="friend__link">
										<%= link_to users_user_path(friend.user) do%>
											<div class="col-xs-2">
												<%= attachment_image_tag friend.friend, :profile_image, fallback: "noimage.png", size:"50x50", class: "img-circle" %>
											</div>
											<div class="col-xs-10">
												<p class="friend__link__text">
													<span class="friend__link__text__name">
														<%= friend.user.name %>
													</span><br>
													<span class="friend__link__text__user_id">
														<%= friend.user.user_id %>
													</span>
												</p>
												<p class="friend__link__box">
													<%= friend.friend.introduction %>
												</p>
											</div>
										<% end %>
										<span class="col-xs-offset-10">
											<%= link_to "許可", users_user_friend_path(user_id: current_user.id, id: friend.id), method: :patch, class: "btn btn-info btn-xs" %>
											<%= link_to "取消", users_user_friend_path(user_id: current_user.id, id: friend.id), method: :delete, class: "btn btn-danger btn-xs" %>
										</span>
									</div>
								<% end %>
							<% else %>
								<p class="friend__empty">フレンドリクエストはありません。</p>
							<% end %>
						</section>
						<section id="friend_recommend" class="friend__tab">
							<% if @recommendations.exists? %>
								<% @recommendations.each do |recommend| %>
									<div class="friend__recommend">
											<h3><%= link_to recommend.user.name, users_user_path(recommend.user), class: "friend__recommend__name" %>さんからのオススメ!</h3>
											<%= link_to users_user_recommendation_path(user_id: current_user.id, id: recommend.id) do %>
											<p class="friend__recommend__text">
												<%= recommend.title %><br>
												<span>【公開日】<%= recommend.release_date %></span>
											</p>
										<% end %>
									</div>
								<% end %>

							<% else %>
								<p class="friend__empty">オススメされている作品はありません。</p>
							<% end %>
						</section>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>