<div id="production_comments" class="production_comments">
	<% production.comments.each do |comment| %>
		<div id="comment-<%= comment.id %>" class="row production_comments__box">
			<div class="col-xs-2">
				<%= attachment_image_tag comment.user, :profile_image, fallback: "noimage.png", size:"50x50", class: "img-circle" %>
				<% if comment.user == current_user %>
				 <%= comment.user.name %>
				<% else %>
				 <%= link_to comment.user.name, users_user_path(comment.user), class: "production_comments__box__link" %>
				<% end %>
			</div>
			<div class="col-xs-9">
				<%= comment.comment %>
				<% if comment.user == current_user %>
				<%= link_to "削除",users_shelf_production_comment_path(shelf_id: shelf.id, production_id: production.id,id: comment.id), remote: true, method: :delete, class: "btn btn-danger btn-xs col-xs-offset-12" %>
				<% end %>
				<p class="col-xs-offset-9 production_comments__box__date"><%= comment.created_at.strftime('%Y/%m/%d %H:%M:%S') %></p>
			</div>
		</div>
	<% end %>
	<div class="comment_form">
		<% if admin_signed_in? %>
		<% elsif shelf.user_id == current_user.id || group_users.include?(current_user.id) %>
			<p class="comment_form__title">コメント</p>
			<%= form_with(model: [shelf, production, comment],url: users_shelf_production_comments_path(shelf_id: shelf.id, production_id: production.id), remote: true) do |f| %>
				<%= f.text_area :comment, class: "form-control", id: "comment_textarea" %>
				<%= f.submit "送信",  class: "btn btn-info comment_form__btn col-xs-offset-11" %>
			<% end %>
		<% end %>
	</div>
</div>

