<div class="body">
	<div class="container">
		<div class="row">
			<%= render 'users/users/sidebar', user: current_user %><!-- サイドバー -->
			<section class="col-xs-7 col-xs-offset-2 new-production">
				<h2>作品検索</h2>
				<!-- 作品検索 -->
				<div class="new-production__sarch">
					<%= form_tag(search_users_shelf_productions_path(@shelf),:method => 'get') do %>
  						<%= select_tag :genre,options_for_select([ ['---選択してください---', ''],['ドラマ/アニメ', 'tv'], ['映画', 'movie']]), class: "btn btn-default dropdown-toggle new-production__sarch__select" %>
  						<div class="input-group">
	  						<%= text_field_tag :title, "", class: "form-control" %>
	  						<span class="input-group-btn">
	  						<%= submit_tag "検索", class: "btn btn-default" %>
	  						</span>
  						</div>
					<% end %>
				</div>
			</section>
		</div>
	</div>
</div>