<div class="myimage col-xs-offset-2">
	<%= attachment_image_tag user, :mypage_image, fallback: "noback.png", class: "myimage__back-image img-rounded" %>
	<%= attachment_image_tag user, :profile_image, fallback: "noimage.png", size:"150x150", class: "myimage__profile-image img-circle col-xs-offset-1" %>
</div>
<div class="mybtn col-xs-offset-12">
	<% if user == current_user %>
		<%= link_to "プロフィールを編集する", edit_users_user_path(user), class: "btn mybtn__btn", data: {"turbolinks"=>false} %>
	<% elsif friend.nil? %>
		<%= link_to "友達申請を送る", users_user_friends_path(user), method: :post, class: "btn mybtn__friend" %>
	<% elsif friend.user == current_user && friend.friend_flag != true %>
		<%= link_to "友達申請を取消", users_user_friend_path(user_id: friend.friend.id, id: friend.id), method: :delete, class: "btn btn-danger" %>
	<% elsif friend.friend == current_user && friend.friend_flag != true %>
		<%= link_to "友達申請を許可する", users_user_friend_path(user_id: current_user.id, id: friend.id), method: :patch, class: "btn btn-info" %>
	<% else %>
		<%= link_to "作品をオススメする", new_users_recommendation_path(user), class: "btn mybtn__friend", data: {"turbolinks"=>false} %>
	<% end %>
</div>
<div class="myname col-xs-offset-2">
	<p class="myname__name col-xs-offset-1"><%= user.name %></p>
	<p class="myname__user-id col-xs-offset-1"><%= user.user_id %></p>
</div>