<div class="body">
  <div class="container">
    <div class="row">
      <%= render 'users/users/sidebar', user: current_user %><!-- サイドバー -->
      <section class="col-xs-offset-2 col-xs-4">
        <h3>パスワード変更</h3>

        <%= form_for(current_user, url:  password_update_users_users_path, html: { method: :patch }) do |f| %>

          <div class="field">
            <%= f.label :password, "新しいパスワード" %><br />
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em><br />
            <% end %>
            <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control  edit__field" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation, "新しいパスワード（確認）" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control  edit__field" %>
          </div>

          <div class="actions">
            <%= f.submit "変更を保存", class: "btn edit__submit" %>
          </div>
        <% end %>
      </section>
    </div>
  </div>
</div>