<div class="body">
	<div class="container">
		<div class="row">
			<%= render 'users/users/sidebar', user: current_user %><!-- サイドバー -->
			<%= form_with(model: @user, url: users_user_path, local: true) do |f| %>
				<div class="edit">
					<h2 class="col-xs-offset-3">ユーザー情報編集</h2>
					<div class="col-xs-3 col-xs-offset-1">
						<%= f.label :マイページ画像 %>
						<%= attachment_image_tag @user, :mypage_image, size:"300x200", fallback: "noback.png", class: " img-rounded mypage-img" %>
						<%= f.attachment_field :mypage_image, id: "mypage-image", class: "edit__attachment" %>
						<%= attachment_image_tag @user, :profile_image, fallback: "noimage.png", size:"150x150", class: " img-circle col-xs-offset-1 profile-img" %>
						<%= f.label :プロフィール画像 %>
						<%= f.attachment_field :profile_image, id: "profile-image", class: "edit__attachment" %>
					</div>
					<div class="col-xs-offset-1 col-xs-4">
						<% if @user.errors.any? %>
							<ul>
								<% @user.errors.full_messages.each do |message| %>
								<li class="alert alert-danger alert_li"><%= message %></li>
								<% end %>
							</ul>
						<% end %>
						<spam><%= f.label :表示名 %>(1文字以上20文字以内)</spam>
						<%= f.text_field :name, class: "form-control edit__field" %>
						<span><%= f.label :ユーザー %>ID(半角英数字5文字以上12文字以内)</span>
						<%= f.text_field :user_id, class: "form-control edit__field" %>
						<span><%= f.label :自己紹介 %>(300文字以下)</span>
						<%= f.text_area :introduction, class: "form-control edit__field" %>
						<%= f.label :メールアドレス %>
						<%= f.text_field :email, class: "form-control  edit__field" %>
						<%= f.submit '編集内容を保存する', class: "btn edit__submit" %>
					</div>
					<%= link_to 'パスワードの変更',  edit_password_users_users_path, class: "btn btn-info edit__email" %>
					<%= link_to ' 退会する', users_users_quit_path, class: "btn btn-danger glyphicon glyphicon-warning-sign edit__quit" %>
				</div>
			<% end %>
		</div>
	</div>
</div>