<div class="body">
	<div class="container">
		<div class="row">
			<%= render 'sidebar', user: current_user %><!-- サイドバー -->
			<div class="mypage col-xs-8">
				<%= render 'my_image', user: @user %><!-- マイページ画像 -->
				<p class="col-xs-offset-3"><%= @user.introduction %></p>
				<div class="mypage__shelves col-xs-offset-3">
					<% if current_user %>
						<%= link_to "New Shelf",new_users_shelf_path, class: "btn mypage__shelves__btn col-xs-offset-11" %>
					<% end %>
					<% if Shelf.find_by(user_id: params[:id]).nil? %>
						<p class="mypage__shelves__empty">まだ棚は作成されていません。</p>
					<% else %>
						<% @shelves.each do |shelf| %>
							<%= link_to shelf.name, users_shelf_path(shelf) %>
							<%= shelf.outline %>
						<% end %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>