<div class="body">
	<div class="container">
		<div class="row">
			<%= render 'admins/users/sidebar'%><!-- 管理者用サイドバー -->
			<section class="admin-edit-group">
				<h2 class="col-xs-offset-3">Edit Group</h2>
				<%= form_with(model: @group, url: admins_group_path, local: true) do |f| %>
					<div class="col-xs-3 col-xs-offset-1">
						<%= f.label :グループの画像 %>
						<%= attachment_image_tag @group, :image, fallback: "group.png", size:"300x200", class: " img-rounded admin-edit-group-img" %>
						<%= f.attachment_field :image, id: "admin-edit-group-image", class: "edit_group__attachment" %>
					</div>
					<div class="col-xs-offset-1 col-xs-4">
						<!-- エラーメッセージ -->
						<% if @group.errors.any? %>
							<ul>
								<% @group.errors.full_messages.each do |message| %>
								<li class="alert alert-danger alert_li"><%= message %></li>
								<% end %>
							</ul>
						<% end %>
						<!-- エラーメッセージ -->
						<span><%= f.label :グループ名 %>(1文字以上20文字以内)</span>
						<%= f.text_field :name, class: "form-control admin-edit-group__text" %>
						<span><%= f.label :グループ概要 %>（300文字以内）</span>
						<%= f.text_area :outline, class: "form-control admin-edit-group__text" %>
					</div>
						<%= f.submit '変更を保存する', class: "btn admin-edit-group__submit col-xs-offset-10" %>
						<%= link_to '解散する' , admins_group_path(@group), method: :delete, class: "btn btn-danger admin-edit-group__btn col-xs-offset-10" %>
					</div>
				<% end %>
			</section>
		</div>
	</div>
</div>