<div class="body">
	<div class="container">
		<div class="row">
			<%= render '/admins/users/sidebar' %><!-- 管理者用サイドバー -->
			<section class="admin_groups col-xs-9 col-xs-offset-1">
				<h2>グループ一覧</h2>
				<% if @groups.exists? %>
					<table class="table">
						<tr class="admin_groups__head">
							<th class="admin_groups__head__th">ID</th>
							<th class="admin_groups__head__th">棚名</th>
							<th class="admin_groups__head__th col-xs-3">作成日時</th>
							<th class="admin_groups__head__th col-xs-3">更新日時</th>
						</tr>
						<% @groups.each do |group| %>
							<tr class="admin_groups__body">
								<td><%= link_to group.id,admins_group_path(group), class: "admin_groups__body__link" %></td>
								<td><%= link_to group.name,admins_group_path(group), class: "admin_groups__body__link" %></td>
								<td><%= link_to group.created_at.strftime('%Y/%m/%d %H:%M:%S'),admins_group_path(group), class: "admin_groups__body__link" %></td>
								<td><%= link_to group.updated_at.strftime('%Y/%m/%d %H:%M:%S'),admins_group_path(group), class: "admin_groups__body__link" %></td>
							</tr>
						<% end %>
					</table>
				<% else %>
					<p>グループは作成されていません。</p>
				<% end %>
			</section>
		</div>
	</div>
</div>