<div class="body">
	<div class="container">
		<div class="row">
			<%= render 'sidebar'%><!-- 管理者用サイドバー -->
			<section class="admin_user_index col-xs-8">
				<h2>ユーザー一覧</h2>
				<table>
					<tr>
						<th>ID</th>
						<th>ユーザー名</th>
						<th>ユーザーID</th>
						<th>メールアドレス</th>
						<th>登録日時</th>
						<th>最終ログイン日時</th>
					</tr>
					<% @users.each do |user| %>
					<tr>
						<td><%= user.id %></td>
						<td><%= user.name %></td>
						<td><%= user.user_id %></td>
						<td><%= user.email %></td>
						<td><%= user.created_at %></td>
						<td><%#= user.sign_in_at %></td>
					</tr>
					<% end %>
				</table>
			</section>
		</div>
	</div>
</div>