<div class="body">
	<div class="container">
		<div class="row">
			<%= render 'users/users/sidebar', user: current_user %><!-- サイドバー -->
			<section class="edit_shelf">
				<h2 class="col-xs-offset-3">Edit Shelf</h2>
				<%= form_with(model: @shelf, url:  users_shelf_path, local: true) do |f| %>
					<div class="col-xs-3 col-xs-offset-1">
						<%= f.label :棚の画像 %>
						<%= attachment_image_tag @shelf, :shelf_image, fallback: "shelf.png", size:"300x200", class: " img-rounded edit-shelf-img" %>
						<%= f.attachment_field :shelf_image, id: "edit-shelf-image", class: "edit_shelf__attachment" %>
					</div>
					<div class="col-xs-offset-1 col-xs-4">
						<% if @shelf.errors.any? %>
							<ul>
								<% @shelf.errors.full_messages.each do |message| %>
								<li class="alert alert-danger alert_li"><%= message %></li>
								<% end %>
							</ul>
						<% end %>
						<p><%= f.label :棚の名前 %>(1文字以上20文字以内)</p>
						<%= f.text_field :name, class: "form-control edit_shelf__text" %>
						<p><%= f.label :棚の概要 %>（300文字以内）</p>
						<%= f.text_area :outline, class: "form-control edit_shelf__text" %>
						<%= f.submit '変更を保存', class: "btn edit_shelf__submit col-xs-offset-10" %>
					</div>
				<% end %>
				<%= link_to "棚を削除する",  users_shelf_path(@shelf), method: :delete, class: "btn btn-danger col-xs-offset-10" %>
			</section>
		</div>
	</div>
</div>
