<div class="body">
	<div class="container">
		<div class="row">
			<%= render 'users/users/sidebar', user: current_user %><!-- サイドバー -->
			<section class="shelf col-xs-8 col-xs-offset-1">
				<!-- サクセスメッセージ -->
				<% if flash[:notice].present? %>
              		<div class="alert alert-success alert-dismissible alert_li  col-xs-offset-1">
              			<button type="button" class="close" data-dismiss="alert" aria-label="閉じる"><span aria-hidden="true">×</span></button>
              			<%= flash[:notice] %>
              		</div>
            	<% end %>
            	<!-- サクセスメッセージ -->
            	<!-- アラートメッセージ -->
            	<% if flash[:alert].present? %>
              		<div class="alert alert-danger alert-dismissible alert_li  col-xs-offset-1">
              			<button type="button" class="close" data-dismiss="alert" aria-label="閉じる"><span aria-hidden="true">×</span></button>
              			<%= flash[:alert] %>
              		</div>
            	<% end %>
            	<!-- アラートメッセージ -->
				<%= attachment_image_tag @shelf, :shelf_image, fallback: "shelf.png", class: "shelf__image img-rounded  col-xs-offset-1" %>
				<h2 class="shelf__name col-xs-offset-1"><%= @shelf.name %></h2>
				<% if @shelf.user_id == current_user.id || @group_users.include?(current_user.id) %>
					<%= link_to "", edit_users_shelf_path(@shelf), class: "glyphicon glyphicon-cog shelf__btn  col-xs-offset-11", data: {"turbolinks"=>false} %>
				<% end %>
				<p class="col-xs-9  col-xs-offset-1"><%= @shelf.outline %></p>
				<% if @shelf.user_id == current_user.id ||@group_users.include?(current_user.id) %>
					<%= link_to "作品を追加", new_users_shelf_production_path(@shelf), class: "btn shelf__add col-xs-offset-10", data: {"turbolinks"=>false} %>
				<% end %>
				<% if Production.find_by(shelf_id: params[:id]).nil? %>
					<p class="shelf__empty col-xs-offset-4">棚は空です。</p>
				<% else %>
					<% @productions.each do |production| %>
						<div class="shelf__production col-xs-3">
							<%= link_to users_shelf_production_path(production.shelf_id, production.id) do %>
								<%= image_tag production.image_id, fallback: "production.png", class: "shelf__production__image" %>
								<p class="shelf__production__title"><%= production.title %></p>
							<% end %>
						</div>
					<% end %>
				<% end %>
			</section>
		</div>
	</div>
</div>