<div class="body">
	<div class="container">
		<div class="row">
			<%= render 'admins/users/sidebar'%><!-- 管理者用サイドバー -->
			<section class="admin-shelf">
				<!-- サクセスメッセージ -->
				<% if flash[:notice].present? %>
              		<div class="alert alert-success alert_li alert-dismissible col-xs-offset-2">
              			<button type="button" class="close" data-dismiss="alert" aria-label="閉じる"><span aria-hidden="true">×</span></button>
              			<%= flash[:notice] %>
              		</div>
            	<% end %>
            	<!-- サクセスメッセージ -->
				<h2 class="col-xs-7">棚の情報</h2>
				<div class="col-xs-7">
					<table class="table table-bordered">
						<tr>
							<th>ID</th>
							<td><%= @shelf.id %></td>
						</tr>
						<tr>
							<th>棚の名前</th>
							<td><%= @shelf.name %></td>
						</tr>
						<tr>
							<th>概要</th>
							<td><%= @shelf.outline %></td>
						</tr>
						<% if @shelf.user_id.present? %>
							<tr>
								<th>所属ユーザー</th>
								<td><%= link_to @shelf.user.name, admins_user_path(@shelf.user), class: "admin-shelf__link" %></td>
							</tr>
						<% else %>
							<tr>
								<th>所属グループ</th>
								<td><%= link_to @shelf.group.name, admins_group_path(@shelf.group), class: "admin-shelf__link" %></td>
							</tr>
						<% end %>
					</table>
				</div>
				<div class="col-xs-3">
					<table class="table table-bordered">
						<tr>
							<th>作成日時</th>
							<td><%= @shelf.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
						</tr>
						<tr>
							<th>更新日時</th>
							<td><%= @shelf.updated_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
						</tr>
					</table>
					<%= link_to "棚の編集",  edit_admins_shelf_path(@shelf), data: {"turbolinks"=>false}, class: "btn btn-info" %>
				</div>
				<div class="col-xs-10">
					<h3>作品一覧</h3>
					<table class="table table-bordered">
						<% if @productions.exists? %>
							<tr>
								<th>作品ID</th>
								<th>作品名</th>
								<th>作品追加日</th>
								<th>コメント数</th>
							</tr>
							<% @productions.each do |production| %>
								<tr>
									<td><%= production.id %></td>
									<td><%= link_to production.title, users_shelf_production_path(shelf_id: @shelf.id, id: production.id), class: "admin-shelf__link" %></td>
									<td><%= production.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
									<td><%= production.comments.count %></td>
								</tr>
							<% end %>
						<% else %>
							<p>棚に作品は追加されていません。</p>
						<% end %>
					</table>
				</div>
			</section>
		</div>
	</div>
</div>