<div class="body">
	<div class="container">
		<div class="row">
			<%= render '/users/users/sidebar', user: current_user %><!-- サイドバー -->
			<div class="col-xs-8 group_index">
				<%= render '/users/users/my_image', user: current_user %><!-- マイページ画像 -->
				<%= link_to "New Group", new_users_group_path, class: "btn group_index__btn  col-xs-offset-11", id: "group_index", data: {"turbolinks"=>false}  %>
				<div class="group_index__list col-xs-offset-3">
					<% if @groups.exists? %>
						<% @groups.each do |group| %>
							<div class="group_index__list__box">
								<%= link_to users_group_path(group.group.id) do %>
									<h4 class="group_index__list__box__name"><%= group.group.name %></h4>
									<p class="group_index__list__box__outline"><%= group.group.outline %></p>
								<% end %>
							</div>
						<% end %>
					<% else %>
						<p class="groups__empty">参加しているグループはありません。</p>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
