<div class="body">
	<div class="container">
		<div class="row">
			<%= render '/users/users/sidebar', user: current_user %><!-- サイドバー -->
			<section class="new_group">
				<h2 class="col-xs-offset-3">New Group</h2>
				<%= form_with(model: @group, url: users_groups_path, local: true) do |f| %>
					<div class="col-xs-3 col-xs-offset-1">
						<%= f.label :グループの画像 %>
						<%= attachment_image_tag @group, :image, fallback: "group.png", size:"300x200", class: " img-rounded new-group-img" %>
						<%= f.attachment_field :image, id: "new-group-image", class: "new_shelf__attachment" %>
					</div>
					<div class="col-xs-offset-1 col-xs-4">
						<!-- エラーメッセージ -->
						<% if @group.errors.any? %>
							<ul>
								<% @group.errors.full_messages.each do |message| %>
								<li class="alert alert-danger alert_li"><%= message %></li>
								<% end %>
							</ul>
						<% end %>
						<!-- エラーメッセージ -->
						<span><%= f.label :グループ名 %>(1文字以上20文字以内)</span>
						<%= f.text_field :name, class: "form-control new_group__text" %>
						<span><%= f.label :グループ概要 %>（300文字以内）</span>
						<%= f.text_area :outline, class: "form-control new_group__text" %>
						<%= f.label :グループメンバー選択 %>
						<div class="new_group__member">
							<% @friends.each do |friend| %>
								<div class="new_group__member__friend">
									<% if friend.user == current_user %>
										<%= f.check_box :group_users,{multiple: true, checked: false}, friend.friend.id, nil %>
										<%= attachment_image_tag friend.friend, :profile_image, fallback: "noimage.png", size:"30x30", class: "img-circle" %>
										<%= friend.friend.name %>
									<% else %>
										<%= f.check_box :group_users,{multiple: true, checked: false}, friend.user.id, nil %>
										<%= attachment_image_tag friend.user, :profile_image, fallback: "noimage.png", size:"30x30", class: "img-circle" %>
										<%= friend.user.name %>
									<% end %>
								</div>
							<% end %>
						</div>
						<%= f.submit '作成する', class: "btn new_group__submit col-xs-offset-10" %>
					</div>
				<% end %>
			</section>
		</div>
	</div>
</div>